---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% assign recent_posts = site.posts | limit: 5 %} {# Change the limit to the desired number of recent posts to display #}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in recent_posts %}
    <h4><a href="../_pages/articles/dsgeneral/genaivalidate">Evaluating GenAI solutions: science or art?</a></h4>

    <p>{{ post.excerpt }}</p>
  {% endfor %}
</div>

{% include paginator.html %}


