---
layout: archive-michele
---

{{ content }}



<h3 class="archive__subtitle">Highlights</h3>


<style>
  .entries-{{ entries_layout }} table {
    width: 100%;
    border-collapse: collapse;
  }

  .entries-{{ entries_layout }} td {
    padding: 10px;
    vertical-align: top;
  }

  .entries-{{ entries_layout }} img {
    max-width: 250px;
    margin-right: 10px;
    float: left;
  }
</style>

<div class="entries-{{ entries_layout }}">
  <table>
    <tr>
      <td>
        <img src="../_pages/articles/dsgeneral/genaivalidate/science%20and%20art.png" alt="Image 1">
        <a href="../_pages/articles/dsgeneral/genaivalidate">
          <h3>Evaluating GenAI solutions: science or art?</h3>
        </a>
        <p>Are Generative AI products addressing their intended use? I have shared some thoughts in my new article, focusing on prioritized design principles. If you are developing, using, or benefiting from products that utilize Generative AI, you might find some relevant perspectives.</p>
      </td>
    </tr>

    <tr>
      <td>
        <img src="../_pages/articles/dsgeneral/genaimitigation/genai_oppo.png" alt="Image 1">
        <a href="../_pages/articles/dsgeneral/genaimitigation">
          <h3>Navigating Challenges and Harnessing Opportunities in Generative AI Implementation</h3>
        </a>
        <p>Discover the challenges and solutions in implementing Generative AI, from managing hype-driven innovation to addressing technical dependencies and ensuring responsible, ethical practices.</p>
      </td>
    </tr>

    <tr>
      <td>
        <img src="../_pages/articles/dsgeneral/genaimanuf/genai_prod_line.png" alt="Image 1">
        <a href="../_pages/articles/dsgeneral/genaimanuf"> 
          <h3>Generative AI: A Key Player in Manufacturing Transformations</h3>
        </a>
        <p>What trends have you observed in manufacturing? What role can Generative AI play? Having been involved in various industry projects, both directly and indirectly, I'd like to share a few thoughts.</p>
      </td>
    </tr>

    <tr>
      <td>
        <img src="../_pages/articles/dsdelivery/agile-data-science/Data_ninja.png" alt="Image 1">
        <a href="http://www.amazon.co.uk/Machine-Learning-Essentials-Michele-Usuelli/dp/178398774X">
          <h3>Road to agile data science in 12 steps</h3>
        </a>
        <p>How can you become a data science ninja? Unlock the power of data science as you delve into its objectives, applications, solution design, tool selection, and crucial checklist items for successful projects.</p>
      </td>
    </tr>



    <tr>
      <td>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51btJPpf9UL._SX404_BO1,204,203,200_.jpg" alt="Image 1">
        <a href="http://www.amazon.co.uk/Machine-Learning-Essentials-Michele-Usuelli/dp/178398774X">
          <h3>R Machine Learning Essentials</h3>
        </a>
        <p>Gain quick access to the machine learning concepts and practical applications using the R development environment.</p>
      </td>
    </tr>

    <tr>
      <td>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51PvMR39NVL._SX404_BO1,204,203,200_.jpg" alt="Image 1">


        <a href="http://www.amazon.co.uk/Building-Recommendation-System-Suresh-Gorakala/dp/1783554495">
          <h3>Building a Recomm. System with R</h3>
        </a>
        <p>Learn the art of building robust and powerful recommendation engines using R.</p>
      </td>
    </tr>


    
  </table>
</div>

{% include paginator.html %}




{% include paginator.html %}

